*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;

    background: var(--color-background);
    color: var(--color-text-primary);

    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-regular);
}

button,
input,
textarea,
select {
    font: inherit;
}

button {
    border: 0;
}